body {
  margin: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game {
  position: relative;
  width: 800px;
  height: 500px;
  background: #111;
  overflow: hidden;
  border: 3px solid white;
}

.paddle {
  position: absolute;
  width: 10px;
  height: 100px;
  background: white;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.ball {
  position: absolute;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
}
